name: Generate Podcast Feeds

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Github Repository Code
        uses: actions/checkout@v4
      - name: Run Feed Generator
        uses: junyap95/podcast-generator@main
